<div class="container text-left">
    <div class="row">
        <div class="col-10">
            <img src="../../../assets/images/banner.png" class="img-fluid" style="max-width: 100%" alt="Banner">
        </div>
    </div>
    <div class="row">
      <div class="col-10">
        <table class="table" style="max-width:100%">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Marca</th>
                <th scope="col">Linea</th>
                <th scope="col">Modelo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vehicle of listVehicles">
                <th scope="row">{{vehicle.id}}</th>
                <td>{{vehicle.marca}}</td>
                <td>{{vehicle.linea}}</td>
                <td>{{vehicle.modelo}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="row">
        <div class="col-4">
            <ul class="list-group" *ngFor="let resume of listResume">
                <li class="list-group-item list-group-item-light">Total {{resume.marca}}: {{resume.cantidad}}</li>
            </ul>
        </div>
    </div>
</div>
